
  
  <div class="login-page">
    <div class="login-container">
    <h1>Login to TETRA</h1>

    <% if (typeof error !== 'undefined' && error) { %>
  <div class="error-message"><%= error %></div>
<% } %>


    <form method="POST" action="/login">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Your username"
        required
        minlength="3"
        maxlength="30"
        autofocus
        autocomplete="off"
      />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Your password"
        required
        minlength="8"
      />

      <button type="submit" class="btn">Log In</button>
    </form>

    <p class="signup-link">
      Don't have an account? <a href="/signup">Sign up</a>
    </p>
  </div>
  </div>
  
